<!DOCTYPE html>
<html>
    <head>
    </head>
    
    <body>
        <center>
            <div>
                <h1 style="margin-top : 200px;"> 새로고침 버튼을 눌러보세요! </h1>
                </br>

                <%= @pick %>
            </div>
        </center>
    </body>

</html>